.footer__container{
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D2939;
    padding: 0 48px;
    color: gray;
}
