<header class="header__container">
    <nav class="header__nav">
        <div class="nav__links">
            <app-logo></app-logo>
            <div style="padding-left: 60px;">
                <a routerLinkActive="active" routerLink="home">Home</a>
            </div>
        </div>
        <div class="nav__links">
            <!-- here i use att hidden to show/hide routes based on login state -->
            <div [hidden]="!isLogged">
                <input type="text" placeholder="Search" [(ngModel)]="keyword" (change)="search()">
            </div>
            <div>
                <a routerLinkActive="active" routerLink="cart">
                    <div style="position: relative;" [hidden]="!isLogged">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="badge">
                            {{cart.products.length}}
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a [hidden]="!isLogged">Account</a>
            </div>
            <div>
                <a [hidden]="isLogged" routerLinkActive="active" routerLink="login">Log in</a>
            </div>
        </div>
    </nav>
</header>