<header class="header__container">
    <nav class="header__nav">
        <div class="nav__links">
            <app-logo></app-logo>
            <div style="padding-left: 60px;">
                <a>Home</a>
            </div>
        </div>
        <div class="nav__links">
            <div style="position: relative;">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="badge">
                    1
                </div>
            </div>
            <div>
                <a>Account</a>
            </div>
            <div>
                <a>Log in</a>
            </div>
        </div>
    </nav>
</header>
