<header class="header__container">
    <nav class="header__nav">
        <div class="nav__links">
            <app-logo></app-logo>
            <div style="padding-left: 60px;">
                <a routerLinkActive="active" routerLink="home">Home</a>
            </div>
        </div>
        <div class="nav__links">
            <div>
                <input type="text" placeholder="Search" [(ngModel)]="keyword" (change)="search()">
            </div>
            <div style="position: relative;" [hidden]="!isLogged">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="badge">
                    1
                </div>
            </div>
            <div>
                <a [hidden]="!isLogged">Account</a>
            </div>
            <div>
                <a [hidden]="isLogged" routerLinkActive="active" routerLink="login">Log in</a>
            </div>
        </div>
    </nav>
</header>
