<section class="container">
    <div class="content">
        <div class="logo__container">
            <div class="logo">
                <div class="dot">
                </div>
            </div>
        </div>
        <p class="title">
            Log in to your account
        </p>
        <p class="subtitle">
            Wlcome back! Please enter your details
        </p>
        <form>
            <label for="userName">User name</label>
            <input type="text" id="userName" placeholder="Enter your user name">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
            <button type="submit">Sign in</button>
        </form>
    </div>
</section>
