.home__container{
    padding-top: 114px;
    width: 85%;
    margin: auto;
}
.home__breadcrumb{
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 700;
    margin-bottom: 51px;
}
.home__main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.home__main .left-side{
    width: 75%;
}
.home__main .left-side .products{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}
.home__main .left-side .paginator{
    text-align: center;
    margin: 25px 0px;
}

.home__main .left-side .paginator ::ng-deep .ngx-pagination .current {
    background: #56D9D9;
}
